.main__title {
    margin: 200px 0 100px 0;
    padding: 5px;
}

.main__title--modify {
    font-size: 80px;
    font-weight: 200;
    color: rgb(8, 8, 8);
}

.main__img {
    width: 25%;
    height: 25%;
    border-radius: 50%;
}

.main__caption-heading {
    margin: 50px;
}

.main__caption-heading--modify {
    font-size: 40px;
    font-weight: 300;
}

.main__section2 {
    width: 70%;
    margin: auto;
}

.main__section2--modify {
    font-size: 24px;
    font-weight: 500;
}

.main__subtitle {
    margin: 50px;
}

@media(max-width:1100px) {
    .main__title--modify {
        font-size: 60px;
    }
    .main__section2--modify {
        font-size: 20px;
    }
    .main__caption-heading--modify {
        font-size: 30px;
    }
}

@media(max-width:700px) {
    .main__title--modify {
        font-size: 30px;
        margin: 200px 50px 50px;
    }
    .main__caption-heading {
        margin: 50px;
    }
    .main__caption-heading--modify {
        font-size: 20px;
    }
}