.main__fig {
    margin: 120px auto 50px;
}

.main__img {
    width: 60%;
    height: 300px;
    margin: auto;
}

.main__figcap-heading--modify {
    font-size: 28px;
}

.main__figcap-heading {
    font-size: 30px;
}

.main__article {
    width: 80%;
    margin: auto;
}

.main__heading--modify {
    font-size: 80px;
    font-weight: 200;
}

.main__subtitle {
    margin-top: 50px;
}

.main__table {
    border-collapse: collapse;
    margin: 50px 100px;
}

.main__heading .main__row {
    border: 1px white solid;
}

.main__column {
    border: 1px white solid;
    padding: 30px;
}

.main__column--modify {
    background-color: rgba(66, 189, 189, 0.562);
}

@media(max-width:1100px) {
    .main__heading--modify {
        font-size: 55px;
    }
}

@media(max-width:700px) {
    .main--modify {
        font-size: 20px;
    }
    .main__heading--modify {
        font-size: 48px;
    }
    .main__figcap-heading--modify {
        font-size: 25px;
    }
    .main__fig {
        margin: 160px 0 0;
    }
    .main__column {
        font-size: 24px;
        padding: 5px;
    }
    .main__table {
        margin: 50px;
    }
}